{% extends 'base.html.twig' %}

{% block body %}
    <div class="background" style="background: url({{asset('images/' ~ obra.foto )}}) repeat; background-size: 160px 160px;  ">
        <div class="transbox">
            <h2  class="pagename"> Añadir Artista nuevo </h2> <br>  
                {{ form_start(form) }}
    {{ form_errors(form) }}

   {{ form_row(form.usuario.nombre, {'attr': {'class': 'row' }, 'label_attr': {'class': 'lab'}  }) }}
    {{ form_row(form.usuario.apellidos, {'attr': {'class': 'row' }, 'label_attr': {'class': 'lab'}  }) }}   
     {{ form_row(form.usuario.username, {'attr': {'class': 'row' }, 'label_attr': {'class': 'lab'}  }) }}   
    {{ form_row(form.usuario.email, {'attr': {'class': 'row' }, 'label_attr': {'class': 'lab'}  }) }}
    {% if not app.user %}
        {{ form_row(form.usuario.password, {'attr': {'class': 'row' }, 'label_attr': {'class': 'lab'}  }) }}    
    {%endif %}
    {{ form_row(form.nombreArtistico,{'attr': {'class': 'row spacing' }, 'label_attr': {'class': 'lab'} }) }}  
    {{ form_row(form.foto , { 'attr': {'class': 'row spacing'},  'label_attr': {'class': 'lab'} }) }}
    {{ form_row(form.art, { 'attr': {'class': 'row spacing'}, 'label_attr': {'class': 'lab'} }) }}
     <div class="button">
        {{ form_widget(form.continue, {'attr': {'class':'row'} }) }}
    </div>
    {{ form_end(form) }}
        </div>
    </div>
{%endblock %}

{% block stylesheets %}
 <link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet" /> 
 <link href="{{ asset('css/default.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
